@font-face {
    font-family: "InterR";
    src: url("./fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "InterL";
    src: url("./fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
    font-family: "InterSB";
    src: url("./fonts/Inter/static/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

:root {
    --gris-clair: #f5f3ef;
    --vert-principal: #00ac66;
    --gris-texte: #a6a6a6;
    --gris-fonce: #292929;
}

* {
    font-family: "InterR";
}

body {
    margin: 0;
}

.button {
    padding: 22px 38px;
    border-radius: 10px;
    border: 1px solid var(--vert-principal);
    transition: 0.3s;
    cursor: pointer;
    font-family: "InterSB";
    font-size: 1rem;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.button-green {
    background-color: var(--vert-principal);
    color: white;
}

.button-green:hover {
    background-color: #006d41;
    border-color: #006d41;
}

.button-border-green {
    color: var(--vert-principal);
}
.button-border-green:hover {
    color: #006d41;
    border-color: #006d41;
}
/* NAVBAR / HEADER*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.navbar a {
    color: var(--gris-fonce);
    text-decoration: none;
    margin: 0 1rem;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

header {
    background-color: var(--gris-clair);
}

/* TOP HOME */

.top-home {
    background-color: var(--gris-clair);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
    padding-top: 80px;
    padding-bottom: 101px;
}

.left-top-home {
    max-width: 329px;
}

.left-top-home h1 {
    font-family: "Playfair Display ";
    font-size: 36px;
    font-weight: 400;
    margin-right: 4px;
    margin-bottom: 1rem;
}
.left-top-home p {
    font-family: "InterL";
    margin-bottom: 40px;
}

.right-top-home img {
    display: block;
}
.right-top-home div {
    color: var(--gris-texte);
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin-top: 12px;
}

/* FOOTER */
footer {
    text-align: right;
    padding: 22px 6px;
}
footer a {
    margin: 20px;
    color: var(--gris-fonce);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* DERNIERS LIVRES AJOUTES */

.last-book {
    background-color: #faf9f7;
    padding-top: 80px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-book h2 {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 80px;
}

.content-last-book {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
}

.card-last-book {
    background-color: white;
    box-shadow: 0 0 24 0 rgba(0, 0, 0, 0.01);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    display: block;
    margin-bottom: 48px;
}

.card-last-book img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.text-last-book {
    padding: 20px 14px;
}

.text-last-book h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: black;
}
.last-book-author {
    font-size: 14px;
    margin-bottom: 22px;
    color: var(--gris-texte);
}

.last-book-seller {
    color: var(--gris-texte);
    font-size: 10px;
    font-style: italic;
}

/* COMMENT CA MARCHE ? */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gris-clair);
    padding: 80px 0;
}

.how-it-works h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 24px;
}

.how-it-works p {
    margin-bottom: 40px;
    text-align: center;
    font-family: "InterL";
}

.card-works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 48px;
    gap: 36px;
}

.card-works div {
    background-color: white;
    border-radius: 10px;
    padding: 44px 18px;
    width: 215px;
    text-align: center;
    font-size: 14px;
}

/* BANIERE HOME */

.baniere-home {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    display: block;
}

/* Nos valeurs */

.our-values {
    padding: 80px 0;
    background-color: var(--gris-clair);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-values h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    margin-bottom: 29px;
    font-size: 2rem;
}

.our-values p {
    max-width: 392px;
    font-family: "InterL";
    margin: 0;
    margin-bottom: 1rem;
}

.content-our-values div {
    color: var(--gris-texte);
    font-size: 12px;
    font-style: italic;
}

.team-heart {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team-heart div {
    margin-top: 23px;
}

.team-heart img {
    position: relative;
    left: 4rem;
}
