@font-face {
    font-family: "InterR";
    src: url("./fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "InterL";
    src: url("./fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
    font-family: "InterSB";
    src: url("./fonts/Inter/static/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

:root {
    --gris-clair: #f5f3ef;
    --vert-principal: #00ac66;
    --gris-texte: #a6a6a6;
    --gris-fonce: #292929;
}

* {
    font-family: "InterR";
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: "Playfair Display";
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 2rem;
}

.button {
    padding: 22px 38px;
    border-radius: 10px;
    border: 1px solid var(--vert-principal);
    transition: 0.3s;
    cursor: pointer;
    font-family: "InterSB";
    font-size: 1rem;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.button-green {
    background-color: var(--vert-principal);
    color: white;
}

.button-green:hover {
    background-color: #006d41;
    border-color: #006d41;
}

.button-border-green {
    color: var(--vert-principal);
}
.button-border-green:hover {
    color: #006d41;
    border-color: #006d41;
}

/* NAVBAR / HEADER*/

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.navbar a {
    color: var(--gris-fonce);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 14px;
}

.navbar a:hover {
    font-weight: bold;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

header {
    background-color: var(--gris-clair);
}

.active {
    font-family: "InterSB";
}
/* TOP HOME */

.top-home {
    background-color: var(--gris-clair);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 105px;
    padding-top: 80px;
    padding-bottom: 101px;
}

.left-top-home {
    max-width: 329px;
}

.left-top-home h1 {
    margin-right: 4px;
    margin-bottom: 1rem;
}
.left-top-home p {
    font-family: "InterL";
    margin-bottom: 40px;
}

.right-top-home img {
    display: block;
}
.right-top-home div {
    color: var(--gris-texte);
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin-top: 12px;
}

/* FOOTER */
footer {
    text-align: right;
    padding: 22px 6px;
}
footer a {
    margin: 20px;
    color: var(--gris-fonce);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* DERNIERS LIVRES AJOUTES */

.last-book {
    background-color: #faf9f7;
    padding-top: 80px;
    padding-bottom: 64px;
}

.last-book .button {
    margin: auto;
}

.last-book h2 {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 80px;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    max-width: 914px;
    margin: auto;
}

.content-last-cards {
    margin-bottom: 48px;
}

.card-book {
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    display: block;
}

.card-book img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.text-book {
    padding: 20px 14px;
}

.text-book h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: black;
}
.book-author {
    font-size: 14px;
    margin-bottom: 22px;
    color: var(--gris-texte);
}

.book-seller {
    color: var(--gris-texte);
    font-size: 10px;
    font-style: italic;
}

/* COMMENT CA MARCHE ? */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gris-clair);
    padding: 80px 0;
}

.how-it-works h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 24px;
}

.how-it-works p {
    margin-bottom: 40px;
    text-align: center;
    font-family: "InterL";
}

.card-works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 48px;
    gap: 36px;
}

.card-works div {
    background-color: white;
    border-radius: 10px;
    padding: 44px 18px;
    width: 215px;
    text-align: center;
    font-size: 14px;
}

/* BANIERE HOME */

.baniere-home {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    display: block;
}

/* Nos valeurs */

.our-values {
    padding: 80px 0;
    background-color: var(--gris-clair);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-values h2 {
    font-family: "Playfair Display";
    font-weight: 400;
    margin-bottom: 29px;
    font-size: 2rem;
}

.our-values p {
    max-width: 392px;
    font-family: "InterL";
    margin: 0;
    margin-bottom: 1rem;
}

.content-our-values div {
    color: var(--gris-texte);
    font-size: 12px;
    font-style: italic;
}

.team-heart {
    display: flex;
    justify-content: space-between;
    /* width: 462px; */
    width: 100%;
}

.team-heart div {
    margin-top: 23px;
}

.team-heart img {
    position: relative;
    margin-top: 9px;
    left: 4rem;
}

/* NOS LIVRES */

.our-books {
    background-color: #faf9f7;
    padding-top: 130px;
    padding-bottom: 80px;
}

.title-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 914px;
    margin: auto;
    margin-bottom: 72px;
}

.title-search input {
    color: var(--gris-texte);
    font-size: 14px;
    padding: 1rem 12px;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
}

/* DETAIL BOOK */

.breadcrumb-detail-book {
    background-color: #faf9f7;
    padding-top: 1rem;
}

.breadcrumb {
    font-size: 10px;
    color: var(--gris-texte);
    margin-bottom: 1rem;
    margin-left: 150px;
}
.breadcrumb a {
    color: var(--gris-texte);
    display: inline-block;
    text-decoration: none;
    font-family: "InterL";
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb div {
    display: inline-block;
    font-family: "InterL";
}

.detail-book {
    display: flex;
    align-items: center;
}

.detail-book img {
    width: 50%;
    max-height: 863px;
    object-fit: cover;
}

.content-book {
    width: 485px;
    margin-left: 84px;
}

.content-book h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.content-book .author {
    color: var(--gris-texte);
    padding-bottom: 32.5px;
    position: relative;
}

.content-book .author::after {
    content: "";
    display: block;
    background-color: var(--gris-texte);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27px;
    height: 1px;
}

.content-book .title-part {
    margin-top: 32.5px;
    margin-bottom: 1rem;
    font-size: 8px;
    font-family: "InterSB";
}

.content-book .description {
    font-size: 14px;
}

.content-owner {
    background-color: white;
    border-radius: 114px;
    padding: 6px 17px 6px 6px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.content-owner img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.content-owner div {
    font-size: 14px;
    margin-left: 1rem;
}

.content-book .button {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

/* Logs */

.log-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #faf9f7;
}

.log-image img {
    max-width: 50%;
    object-fit: cover;
}

.log-content {
    width: 50%;
}

.log {
    margin: auto;
    margin-top: 130px;
    width: 322px;
}

.log h1 {
    margin-bottom: 56px;
}

.log label {
    color: var(--gris-texte);
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}
.log form div input {
    margin-bottom: 32px;
    height: 50px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
}

.log form > input {
    width: 100%;
    margin-bottom: 40px;
}

.log .connexion {
    font-size: 14px;
}

.log .connexion a {
    color: black;
}

.content-profil-background {
    background-color: #faf9f7;
    padding-bottom: 102px;
}

.content-profil {
    max-width: 1135px;
    margin: auto;
}

.content-profil h1 {
    padding-top: 90px;
    padding-bottom: 48px;
    margin: 0;
}

.top-content-profil {
    display: flex;
    justify-content: space-between;
    gap: 33px;
}

.top-content-profil > div {
    background-color: white;
    border-radius: 20px;
    width: 50%;
}

.profil img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
}
.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 93px;
}

.profil .trait {
    width: 50%;
    height: 1px;
    background-color: var(--gris-clair);
    margin: 48px 0;
}

.profil h2 {
    margin: 0;
    margin-bottom: 11px;
    font-size: 24px;
}

.profil .date-account {
    margin-bottom: 21px;
    font-size: 14px;
    color: var(--gris-texte);
}

.profil h3 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 8px;
    font-family: "interSB";
}

.profil .count-books {
    font-size: 14px;
}

.edit-profil {
    padding: 36px 116px;
}

.edit-profil h3 {
    margin: 0;
    margin-bottom: 26px;
    font-size: 16px;
    font-family: "InterR";
    font-weight: 400;
}

.edit-profil label {
    display: block;
    font-size: 14px;
    color: var(--gris-texte);
    margin-bottom: 10px;
}

.edit-profil input {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background-color: #edf2f6;
    border: 1px solid #f0f0f0;
    margin-bottom: 32px;
    padding: 0 14px;
    font-size: 14px;
    color: var(--gris-fonce);
}

.my-books {
    max-width: 1140px;
    background-color: white;
    padding-top: 33.24px;

    margin-top: 2rem;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.my-books thead th {
    text-align: left;
    font-size: 0.5rem;
    font-family: "InterSB";
}
.my-books thead th:first-child {
    padding-left: 66px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.my-books tbody td {
    padding-top: 26px;
    padding-bottom: 26px;
    border: none;
    padding-right: 80px;
}

.my-books tbody td:first-child {
    padding-left: 66px;
}

.my-books tbody tr:nth-child(even) {
    background-color: #edf2f6;
}

.my-books tbody img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}
